*,*::after,*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 70.5%  ;
}
.comp{
  border: 2px solid black;
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100%;
  background: url('https://images.unsplash.com/photo-1440186410080-d2627b864960?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlLHdhdGVyfHx8fHx8MTYyODk0NzY0NQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600') center no-repeat;
  background-size: cover;
}

.form {
  position: relative;
  z-index: 20;
  background: white ;
  border: 2px solid black;
  border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1rem auto;
    padding: 2rem;
  }
  @media only screen and (max-width: 900px){
    .form{
      width:80%;
    }
  }
  
  
  .form > label {
    color: #5c5e62;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
  .form > input {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    outline: none;
    color: #393c41;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    transition: all 0.2s ease-out;
  }
  .form > input:focus {
    border: 1px solid #d6d6d6;
  }
  .form > input.invalid {
    border: 1px solid #b74134;
  }
  .error_message {
    font-size: 1.3rem;
    margin-left: 2rem;
    padding: 0.5rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    color: #b74134;
    font-weight: 500;
  }
  .button {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.2rem 4rem;
    text-transform: uppercase;
    border-radius: 5rem;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
  }
  .primary {
    background-color: #3e6ae1;
    color: white;
  }
  .redu_grp{
    display: flex;
    margin-left: 2rem;
    margin-bottom: 3rem;
    gap: 3rem;
  }
 